@import url(https://fonts.googleapis.com/css?family=Open+Sans:600,400);

* {
    box-sizing: border-box;
    font-family: 'Open Sans', Helvetica, sans-serif;
}

body {
    height: 100vh;
    overflow: hidden
}

main {
    width: 25rem;
    height: 25rem;
    background-color: #42A7A1;
    position: relative;
}

article {
    width: 100%;
}

p {
    margin: 0;
    padding: 0;
}

.display-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    border-radius: 4px;
    box-shadow: 1px 2px 10px 0px rgba(0,0,0,0.3);
}

.board {
    width: 70%;
    height: 50%;
}

.board-header {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    height: 30%;
    background-color: #F1BA64;
    justify-content: space-between;
}

.board-main {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    height: 70%;
    background-color: #ffffff;
    padding: 0.5rem;
    font-size: 9px;
    color: #606060;
    position: relative;
}

.text-header {
    color: #ffffff;
    padding: 1rem;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-bold {
    font-weight: bold;
}

.text-big {
    font-size: 14px;
}

.text-small {
    font-size: 12px;
}

.line-red {
    height: 3px;
    background-color: #fa7373;
}

.line-blue {
    height: 3px;
    background-color: #7ba2ff;
}

.line-header {
    width: 12px;
}

.board-main-header {
    justify-content: flex-end;
    margin-bottom: 0.6rem;
}

.board-main-header > * {
    margin: 0.3rem;
}

.line-statistic {
    height: 1px;
    width: 100%;
    background-color: #f2f2f2;
}

.line-statistic-margin {
    margin-top: 2rem;
}

.days {
    display: flex;
    justify-content: space-between;
    margin-top: 0.4rem;
    color: #949494;
}

.points {
    position: relative;
}

.points > div {
    position: absolute;
    height: 6px;
    width: 6px;
    border-radius: 50%;
}

.box-blue {
    height: 20px;
    width: 20px;
    background-color: #7ba2ff;
}

.box-red {
    height: 20px;
    width: 20px;
    background-color: #fa7373;
}

/*! every else there can be changed for javaScript or sass */

#point-blue-1 { left: 8px; top: -20px; background-color: #7ba2ff;}
#point-blue-2 { left: 50px; top: -28px; background-color: #7ba2ff;}
#point-blue-3 { left: 92px; top: -16px; background-color: #7ba2ff;}
#point-blue-4 { left: 134px; top: -25px; background-color: #7ba2ff;}
#point-blue-5 { left: 174px; top: -23px; background-color: #7ba2ff;}
#point-blue-6 { left: 210px; top: -10px; background-color: #7ba2ff;}
#point-blue-7 { left: 250px; top: -20px; background-color: #7ba2ff;}

#line-blue-1 { height: 2px; border-radius: 0; background-color: #7ba2ff; width: 47px; transform: rotate(-11deg); top: -22px; left: 8px;}
#line-blue-2 { height: 2px; border-radius: 0; background-color: #7ba2ff; width: 43px; transform: rotate(16deg); top: -20px; left: 52px;}
#line-blue-3 { height: 2px; border-radius: 0; background-color: #7ba2ff; width: 43px; transform: rotate(-12deg); top: -19px; left: 94px;}
#line-blue-4 { height: 2px; border-radius: 0; background-color: #7ba2ff; width: 43px; transform: rotate(3deg); top: -22px; left: 135px;}
#line-blue-5 { height: 2px; border-radius: 0; background-color: #7ba2ff; width: 36px; transform: rotate(20deg); top: -15px; left: 177px;}
#line-blue-6 { height: 2px; border-radius: 0; background-color: #7ba2ff; width: 44px; transform: rotate(-14deg); top: -13px; left: 212px;}

#point-red-1 { left: 8px; top: -38px; background-color: #fa7373;}
#point-red-2 { left: 50px; top: -60px; background-color: #fa7373;}
#point-red-3 { left: 92px; top: -55px; background-color: #fa7373;}
#point-red-4 { left: 134px; top: -60px; background-color: #fa7373;}
#point-red-5 { left: 174px; top: -46px; background-color: #fa7373;}
#point-red-6 { left: 210px; top: -35px; background-color: #fa7373;}
#point-red-7 { left: 250px; top: -60px; background-color: #fa7373;}

#line-red-1 { height: 2px; border-radius: 0; background-color: #fa7373; width: 47px; transform: rotate(-28deg); top: -47px; left: 8px;}
#line-red-2 { height: 2px; border-radius: 0; background-color: #fa7373; width: 43px; transform: rotate(7deg); top: -56px; left: 52px;}
#line-red-3 { height: 2px; border-radius: 0; background-color: #fa7373; width: 43px; transform: rotate(-7deg); top: -56px; left: 94px;}
#line-red-4 { height: 2px; border-radius: 0; background-color: #fa7373; width: 43px; transform: rotate(19deg); top: -51px; left: 135px;}
#line-red-5 { height: 2px; border-radius: 0; background-color: #fa7373; width: 36px; transform: rotate(17deg); top: -38px; left: 177px;}
#line-red-6 { height: 2px; border-radius: 0; background-color: #fa7373; width: 45px; transform: rotate(-32deg); top: -46px; left: 212px;}